[user]
	name        = Kevin Richardson
  email       = kevin@magically.us
[color]
  branch      = auto
  diff        = auto
  interactive = auto
  status      = auto
[core]
  editor      = vim
	excludesfile = ~/.gitignore
[merge]
  tool        = vimdiff
